#container{
}

/* start pages*/
#greeting{
  background-color: lightblue;
  color: white;
}
#aboutMe{
  background-color: hotpink;
  color: white;
}
#portfolio{
  background-color: yellow;
  color: black;
}
#contact{
  background-color: green;
}
/* end pages*/

/*effects*/
#pinkDiv{
  background-color: hotpink;
}
#lightBlueDiv{
  background-color: black;
}
/*end effects*/


/*CLASSES*/
.bigbox{
  height: 100vh;
  width: 100vw;
  display: table;
}
.smallbox{
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.title {
  font-size: 7em;
}
.subtitle{
  font-size: 4em;
}

.arrow{
  font-size: 40px;
}
.pointer{
  cursor: pointer;
}

.hidden{
  visibility: hidden;
}
.visible{
  visibility: visible;
}

.rotateLeft{
  -ms-transform: rotate(-90deg); /* IE 9 */
  -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
  transform: rotate(-90deg);
}
.rotateRight{
  -ms-transform: rotate(90deg); /* IE 9 */
  -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
  transform: rotate(90deg);
}

.btn-simple{
  background-color: transparent;
  color: white;
  font-size: 2.2em;
  border: 1px solid white;
  border-radius: 7px;
  padding: 5px;
}

.btn-simple:hover{
  text-decoration: none;
  color:white;
  font-size: 2.5em;
}
/*end classes*/
