html {
  cursor: crosshair;
  color: white;
}

nav {
  text-align: right;
  /*padding: 10px;*/
}


/* start pages*/
.polaroid{
  width: 55%;
}

.blue{
  background-color: rgb(0, 113, 193);
}
.orange{
  background-color: orange;
}
.hotpink{
  background-color: hotpink;
}
.purple{
  background-color: #94618e;
}
.lightgreen{
  background-color: #3CC47C;
}

.square{
  padding: 25px;
  text-align: center;
  font-weight: bold;
}



#container {
  height: 100vh;
  /*min-height: calc(~"100vh - 0");*/
  width: 100vw;
}

.progress {
  margin: 20px;
  background-color: transparent;
  border: none;
  box-shadow: none;
}

#portfolio {
  background-color: #94618e;
  color: black;
}

#contact {
  background-color: #3CC47C;
  color: #1E392A;
}


/*aboutme*/

#flower1 {
  margin-right: -100px;
  margin-bottom: 50px;
  width: 400px;
  height: 200px;
}

#flower2 {
  margin-left: -200px;
  margin-bottom: 50px;
  width: 400px;
  height: 200px;
}


/*endaboutme*/


/* end pages*/


/*ANIMATION*/

.bobble {
  animation: bobble 5s infinite;
}

.bobble-reverse {
  animation: bobble-reverse 5s infinite;
}

.side-to-side {
  animation: side-to-side 5s infinite;
}


/*endanimation*/


/*CLASSES*/
.center{
  text-align: center;
}
.bold{
  font-weight: bold;
}
.cedarville {
  font-family: 'Cedarville Cursive', cursive;
}

.amatic {
  font-family: 'Amatic CS', cursive;
}

.shadows {
  font-family: 'Shadows Into Light Two', cursive;
}

.circle {
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background-color: black;
  /*background-color: violet;*/
  display: inline-block;
  margin: 0 5px;
}

.currentCircle {
  background-color: white;
}

.bigbox {
  height: 90%;
  width: 100%;
  display: table;
}

.smallbox {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.title {
  font-size: 7em;
}

.subtitle {
  font-size: 4em;
}

.cursorText {
  font-size: 1.7em;
}

.arrow {
  font-size: 40px;
}

.pointer {
  cursor: pointer;
}

.pointer:hover {
  /*transition: all 0.3s ease-out;*/
  -ms-transform: scale(1, 1.1);
  /* IE 9 */
  -webkit-transform: scale(1, 1.1);
  /* Safari */
  transform: scale(1, 1.1);
}

.hidden {
  visibility: hidden;
}

.visible {
  visibility: visible;
}

.btn-simple {
  background-color: transparent;
  color: black;
  font-size: 1.3em;
  border: 1px dashed black;
  border-radius: 7px;
  padding: 5px;
}

.btn-simple:hover {
  font-weight: bold;
  text-decoration: none;
  color: black;
  border: 1.7px dashed black;
}


/*end classes*/

a {
  color: inherit;
  text-decoration: none;
}

a: hover {
  color: white;
  text-decoration: none;
}


/*animation*/

@keyframes infinity {
  0% {
    transform: translate3d(10px, 10px, 0px);
    animation-timing-function: ease-in;
  }
  25% {
    transform: translate3d(20px, 15px, 0px);
    animation-timing-function: ease-out;
  }
  40% {
    transform: translate3d(25px, 8px, 0px);
    animation-timing-function: ease-out;
  }
  50% {
    transform: translate3d(16px, 0px, 0px);
    animation-timing-function: ease-out;
  }
  75% {
    transform: translate3d(2px, 18px, 0px);
    animation-timing-function: ease-out;
  }
  100% {
    transform: translate3d(-5px, 4px, 0px);
  }
}

@keyframes side-to-side {
  0% {
    transform: translate3d(0px, 0px, 0px);
    animation-timing-function: ease-in;
  }
  25% {
    transform: translate3d(20px, 15px, 0px);
    animation-timing-function: ease-in;
  }
  50% {
    transform: translate3d(-15px, 25px, 0px);
    animation-timing-function: ease-out;
  }
  75% {
    transform: translate3d(5px, 5px, 0px);
    animation-timing-function: ease-out;
  }
  100% {
    transform: translate3d(0px, 0px, 0px);
  }
}

@keyframes bobble {
  0% {
    transform: translate3d(50px, 40px, 0px);
    animation-timing-function: ease-in;
  }
  50% {
    transform: translate3d(50px, 50px, 0px);
    animation-timing-function: ease-out;
  }
  100% {
    transform: translate3d(50px, 40px, 0px);
  }
}

@keyframes bobble-reverse {
  0% {
    transform: translate3d(50px, 50px, 0px);
    animation-timing-function: ease-in;
  }
  50% {
    transform: translate3d(50px, 40px, 0px);
    animation-timing-function: ease-out;
  }
  100% {
    transform: translate3d(50px, 50px, 0px);
  }
}


/*endanimation*/

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}

.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

.popup .close:hover {
  color: #06D85F;
}

.popup .content {
  max-height: 30%;
  overflow: auto;
}
