/* start pages*/
#greeting{
  background-color: lightblue;
  color: white;
}
#aboutMe{
  background-color: hotpink;
  color: white;
}
#portfolio{
  background-color: #94618e;
  color: black;
}
#contact{
  /*background-color: #FF383F;*/
  background-color: #3CC47C;
  color: #1E392A;
}
/* end pages*/

/*effects*/
#pinkDiv{
  background-color: hotpink;
}
#lightBlueDiv{
  background-color: black;
}
/*end effects*/


/*CLASSES*/
.bigbox{
  height: 100vh;
  width: 100vw;
  display: table;
}
.smallbox{
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.title {
  font-size: 7em;
}
.subtitle{
  font-size: 4em;
}

.arrow{
  font-size: 40px;
}
.pointer{
  cursor: pointer;
}
.pointer:hover{
  /*transition: all 0.3s ease-out;*/
  -ms-transform: scale(1, 1.1); /* IE 9 */
  -webkit-transform: scale(1, 1.1); /* Safari */
  transform: scale(1, 1.1);
}

.hidden{
  visibility: hidden;
}
.visible{
  visibility: visible;
}

.rotateLeft{
  -ms-transform: rotate(-90deg); /* IE 9 */
  -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
  transform: rotate(-90deg);
}
.rotateRight{
  -ms-transform: rotate(90deg); /* IE 9 */
  -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
  transform: rotate(90deg);
}

.btn-simple{
  background-color: transparent;
  color: white;
  font-size: 2.2em;
  border: 1px solid white;
  border-radius: 7px;
  padding: 5px;
}

.btn-simple:hover{
  text-decoration: none;
  color:white;
  font-size: 2.5em;
}
/*end classes*/


a {
    color: inherit;
    text-decoration: none;
}
a : hover{
  color: inherit;
  text-decoration: none;
}



.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}
